---
title: Bookmarks
layout: "core/base.layout.njk"
permalink: "/n/bookmarks/"
---
<div class="page">
  <main class="page__main" id="app-content">
    <article>
      <h1 class="page__tit...[truncated]